@import "./reset";
@import "./variables/global";
@import "./Theme/dark";
@import "./Theme/light";
@import "./Theme/blue";

body,
.app_light_theme,
.app_dark_theme {
  font-size: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
}

.app,
.app_modal,
.app_drawer {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--bg-color);
  min-height: 100vh;
}

.app_redesigned {
  background: var(--bg-redesigned);
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
}

.pages-container {
  display: flex;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px var(--primary-color);
  border-radius: 20px;
}
