@import "./reset";
@import "./variables/global";
@import "./Theme/dark";
@import "./Theme/light";
@import "./Theme/blue";

body,
.app_light_theme,
.app_daark_theme {
  font-size: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
}

.app {
  min-height: 100vh;
}

.pages-container {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 24px;
}
