.Sidebar {
  width: var(--opened-sidebar);
  height: calc(100vh - var(--navbar-height));
  position: relative;
  background: var(--inverted-bg-color);
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 24px;
}

.collapsedBtn {
  position: absolute;
  right: -32px;
  bottom: 32px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
  margin-left: 20px;
  font: var(--font-m);
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon {
  fill: var(--secondary-color);
}

.link {
  margin-left: 24px;
  opacity: 1;
}

.collapsed {
  width: var(--collapsed-sidebar);

  .switchers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .link {
    opacity: 0;
    width: 0;
    transition: 0.2s opacity;
  }
}
