:root,
.app_blue_theme {
  --bg-color: #008972;
  --inverted-bg-color: #f9dcfd;
  --primary-color: #f4fbfa;
  --secondary-color: #006118;
  --primary-inverted-color: #6f4785;
  --secondary-inverted-color: #bc7fbb;

  // skeleton
  --skeleton-color: #f4fbfa;
  --skeleton-shadow: #f9dcfd;
  --code-bg: #dadada;

  // card-bg
  --card-bg: #03b899;
}
