:root,
.app_dark_theme {
  --bg-color: #0f1048;
  --inverted-bg-color: #a3a7da;
  --primary-color: #bc7fbb;
  --secondary-color: #6f4785;
  --primary-inverted-color: #809253;
  --secondary-inverted-color: #ccc97e;

  // skeleton
  --skeleton-color: #bc7fbb;
  --skeleton-shadow: #6f4785;
  --code-bg: #dadada;

  // card-bg
  --card-bg: #c1c1ec;

  // list-bg
  --list-bg: #c1c1ec;
}