:root,
.app_dark_theme {
  --bg-color: #0f1048;
  --inverted-bg-color: #c1c3db;
  --primary-color: #7d9540;
  --secondary-color: #bcb62a;
  --primary-inverted-color: #6f4785;
  --secondary-inverted-color: #bc7fbb;
}
