:root,
.app_dark_theme {
  --bg-color: #0f1048;
  --inverted-bg-color: #a3a7da;
  --primary-color: #bc7fbb;
  --secondary-color: #6f4785;
  --primary-inverted-color: #809253;
  --secondary-inverted-color: #ccc97e;

  // redesigned
  --dark-bg-redesigned: #090f11;
  --bg-redesigned: #0c1214;
  --light-bg-redesigned: #151c1f;
  --text-redesigned: #dbdbdb;
  --hint-redesigned: #555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;
  --icon-redesigned: #74a2b2;
  --accent-redesigned: #5ed3f3;

  // skeleton
  --skeleton-color: #bc7fbb;
  --skeleton-shadow: #6f4785;
  --code-bg: #dadada;

  // card-bg
  --card-bg: #c1c1ec;

  // list-bg
  --list-bg: #c1c1ec;
}
