:root,
.app_light_theme {
  --bg-color: #fbf4fb;
  --inverted-bg-color: #b28eb1;
  --primary-color: #8a76a2;
  --secondary-color: #fff;
  --primary-inverted-color: #7d9540;
  --secondary-inverted-color: #bcb62a;

  // redesigned
  --dark-bg-redesigned: #fff;
  --bg-redesigned: #eff5f6;
  --light-bg-redesigned: #e2eef1;
  --text-redesigned: #141c1f;
  --hint-redesigned: #adbcc0;
  --cancel-redesigned: #f77;
  --save-redesigned: #62de85;
  --icon-redesigned: #5ed3f3;
  --accent-redesigned: #00c8ff;

  // skeleton
  --skeleton-color: #b28eb1;
  --skeleton-shadow: #dadada;
  --code-bg: #dadada;

  // card-bg
  --card-bg: #d4d4d4;

  // list-bg
  --list-bg: #d4d4d4;
}
