:root,
.app.normal {
  --primary-color: rgb(35 61 46);
  --primary-inverted-color: rgb(113 190 145);
  --secondary-inverted-color: rgb(71 99 71);
  --secondary-color: rgb(71 99 71);
  --bg-color: rgb(213 226 218);
}
