:root,
.app.normal {
  --bg-color: #c1c3db;
  --inverted-bg-color: #0f1048;
  --primary-color: #6f4785;
  --secondary-color: #bc7fbb;
  --primary-inverted-color: #7d9540;
  --secondary-inverted-color: #bcb62a;
}
